* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, sans-serif;
}

.header {
	padding: 30px 0;
	background-color: #020303;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.logo {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.logo-image {
	display: inline-block;
	vertical-align: middle;
}

.menu {
	margin-left: 282px;
	display: inline-block;
	vertical-align: middle;
}

.menu ul {
	list-style: none;
}

.menu ul li {
	display: inline-block;
	margin: 0 30px;
}

.menu ul li:first-child {
	margin-left: 0;
}

.menu ul li a {
	font-size: 16px;
	color: rgb(253, 239, 213);
	line-height: 1.2;
	text-decoration: none;
}

.menu ul li a:hover {
	color: #ffaf18;
	border-bottom: 2px solid #ffaf18;
	padding-bottom: 6px;
}

.main {
	background-color: #020303;
	padding: 133px 0 80px 0;
}

.main .container {
	font-size: 0;
}

.main-info {
	display: inline-block;
	vertical-align: middle;
	max-width: 564px;
	margin-bottom: 99px;
}

.main-image {
	display: inline-block;
	vertical-align: middle;
	margin-left: 22px;
}

.main h1 {
	font-size: 45px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.222;
	text-align: left;
	margin-bottom: 74px;
}

.main h1 span {
	color: #ffaf18;
}

.main-info-favorite {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 99px;
}

.favorite {
	display: inline-block;
	vertical-align: middle;
}

.favorite:first-child {
	margin-right: 99px;
}

.main-info-text {
	display: inline;
	vertical-align: middle;
	font-size: 16px;
	color: rgb(255, 255, 255);
	line-height: 1.5;
	text-align: left;
}

.main-info-favorite img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 11px;
}

.button {
	font-size: 16px;
	color: rgb(2, 3, 3);
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	display: inline-block;
}

.button.button-orange-choose {
	padding: 22px 0 23px 0;
	width: 224px;
	background: rgb(255, 175, 24);
	border-radius: 30px;
}

.button:hover {
	box-shadow: 0 20px 20px -10px rgba(255, 175, 24, 0.69);
}

.catalog {
	padding: 120px 0;
	background-color: #020303;
}

.card-all {
	font-size: 0;
	margin-right: -12px;
	margin-left: -12px;
}

.catalog h2 {
	font-size: 35px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 36px;
}

.catalog .card img {
	margin-bottom: 30px;
}

.card {
	box-sizing: border-box;
	max-width: 282px;
	text-align: center;
	background-color: #ffffff;
	display: inline-block;
	vertical-align: middle;
	padding: 10px 0 15px 0;
	margin: 12px;
}

.card:first-child {
	border: 5px solid #ffaf18;
	padding: 5px 0 10px 0;
}

.card:last-child {
	border: 5px solid #ffaf18;
	padding: 5px 0 10px 0;
}

.card:hover {
	box-shadow: 0 0 20px #ffffff;
}

.card-title {
	font-size: 18px;
	color: rgb(24, 26, 26);
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
}

.card-text {
	width: 242px;
	height: 51px;
	font-size: 14px;
	color: rgb(24, 26, 26);
	text-align: center;
	line-height: 1.286;
	margin-bottom: 15px;
	box-sizing: border-box;
	display: inline-block;
}

.button.button-orange-card {
	width: 242px;
	padding: 17px 0 18px 0;
	background: rgb(255, 175, 24);
	border-radius: 30px;
	text-align: center;
	line-height: 1.2;
}

.description {
	padding: 120px 0 67px 0;
	background-color: #020303;
}

.description-info {
	display: inline-block;
	vertical-align: middle;
	max-width: 386px;
}

.description h3 {
	font-size: 35px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.286;
	text-align: left;
	margin-bottom: 60px;
}

.description-text {
	font-size: 16px;
	color: rgb(255, 255, 255);
	line-height: 1.5;
	text-align: left;
	margin-bottom: 100px;
}

.description-info-text {
	font-size: 25px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.4;
	text-align: left;
	margin-bottom: 40px;
}

.description-actions {
	display: inline-block;
	text-align: center;
}

.button-round {
	display: inline-block;
	vertical-align: middle;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #ffffff;
	margin-right: 40px;
	text-decoration: none;
}

.description-actions img {
	margin: 0 auto;
}

.button-round.button-round-rolls img {
	padding: 13px 6px 13px 8px;
}

.button-round.button-round-sushi img {
	padding: 11px 9px 10px 12px;
}

.button-round.button-round-tuna img {
	padding: 14px 7px;
}

.button-round:hover {
	box-shadow: 0 0 20px #ffffff;
}

.button-round:active {
	background-color: #ffaf18;
}

.button-round:visited {
	background-color: #bebebe;
}

.description-image {
	display: inline-block;
	vertical-align: bottom;
}

.footer {
	padding: 30px 0;
	background-color: #020303;
}

.footer-logo {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.footer-logo-image {
	display: inline-block;
	vertical-align: middle;
}

.footer-logo-text {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	font-size: 16px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	margin-left: 11px;
}

.footer-text {
	display: inline-block;
	margin-left: 390px;
	font-size: 12px;
	color: rgb(44, 44, 44);
	line-height: 1.2;
}
